# Copiar este archivo como .env y completar con tus credenciales
TRANSBANK_RUT=22726752-6
TRANSBANK_PASSWORD=2276
TRANSBANK_EMPRESA=INVERSIONES COLCHILE LIMITADA


# Lista de empresas autorizadas
# ZD PACK DISTRIBUCION Y LOGISTICA SPA
# SILVERGOLD SPA
# INVERSIONES COLCHILE LIMITADA
# INVERSIONES ORTIZ APRAEZ LIMITADA
# INVERSIONES HERNANDEZ ALVAREZ LIMITADA
# COMERCIALIZADORA CAFE Y ALIMENTOS CUMBRE
# GESTION PROFESIONAL Y DE SERVICIOS LIMIT
# INVERSIONES METALES DEL SUR LIMITADA
# COMERCIALIZADORA DE ALIMENTOS SANTA LENA